.bio {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 400;
}

.belongings {
    font-size: 20px;
}

.rounded-circle {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.rounded-circlem {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
}

.rounded-circle3 {
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
}